@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

.bg {
    background-color: pink
}

body {
    background-color: pink
}

div {
    margin: 10px;
    padding: 20px;
}

h2 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
    border-color: rgb(161, 114, 122);
    border-radius: 100px;
    background-color: rgb(221, 162, 172);
}

h1 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

#title-container {
    margin-left: 40%;
    margin-right: 40%;
    border: 30px solid rgb(221, 162, 172);
    background-color: rgb(161, 114, 122);
}

#title-container:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#title-container:hover + #hidden {
    display: block;
}

.text {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    margin: -20px;
    font-size: 18px;
}

.gianttext {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    word-break: break-word;
    font-size: 150%;
}

.centerd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 25px;
}

.lazyspacing {
    color: pink;
}

.stupid:hover {
    transtition-duration: 1s;
    filter: grayscale(0%);
}

.stupid {
    filter: grayscale(100%)
}

.border {
    border-style: solid;
    border-color: rgb(161, 114, 122);
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(221, 162, 172)
}

#frusterating {
    width: 40%;
}

#bigpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 25px;
}

.rgbexample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 25px;
}

.lol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 25px;
}

.binaryexample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 25px;
}

img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#hidden {
    display: none;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    margin: -20px;
    font-size: 30px;
}

#question {
    font-size: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;

}

.button1 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(221, 162, 172);
    font-size: 50%;
    border-style: solid;
    border-color: rgb(161, 114, 122);
    border-radius: 25px

}

#test {
    display: none
}