@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

body {
    background-color: rgb(221, 162, 172)
}

div {
    margin: 10px;
    padding: 20px;
}

h2 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 5px
}


.text {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    margin: -20px;
    font-size: 18px;
}

.gianttext {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    word-break: break-word;
    font-size: 150%;
}

#count:hover {
    background-color: pink;
    transition-duration: 1s;
}

.centerd {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 25px;
}

.lazyspacing {
    color: pink;

}

.stupid:hover {
    transtition-duration: 1s;
    filter: grayscale(0%);
}

.stupid {
    filter: grayscale(100%)
}

.border {
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

#frusterating {
    width: 500px;
}

