@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

.bg {
    background-color:pink
}

body {
    background-color: rgb(221, 162, 172)
}

div {
    margin: 10px;
    padding: 20px;
}

h2 {
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 5px;
}

.text {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    margin: -20px;
    font-size: 18px;
}

.gianttext {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-align: center;
    word-break: break-word;
    font-size: 150%;
}

.centerd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 25px;
}

.lazyspacing {
    color: pink;
}

.stupid:hover {
    transtition-duration: 1s;
    filter: grayscale(0%);
}

.stupid {
    filter: grayscale(100%)
}

.border {
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

#frusterating {
    width: 40%;
}

#bigpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 25px;
}

.rgbexample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 25px;
}

.lol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 25px;
}

.binaryexample {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 25px;
}

.border:hover {
    transititon-duration: 1s;
    background-color: pink
}